
.father{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.topDiv{
    width: 100%;
    position: fixed;
    z-index: 20;
    background-color: white;
}

h1{
    max-width: 960px;
    width: 100%;
    text-align: left;
    align-self: center;
    margin: 0px auto -13px auto;
    font-family: 'Tangerine', cursive;
}
.solias{
    color: #919100;
    /*text-shadow: 6px 1px 2px #8b8b00;*/
    font-size: 130px;
    margin: 0;
    padding: 0;
}
.boligstyling{
    color: #afaf00;
    /*text-shadow: 6px 1px 2px #8b8b00;*/
    font-size: 50px;
    margin: 0;
}
.innerTop{
    text-align: center;
    padding: 1% 1% 0px 1%;
    width: 100%;
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    min-width: 28em;
}
.manuDiv{
    height: 26px;
    padding: 5px 0 2px 0;
    background-color: rgb(60, 60, 60);
    text-align: start;
    box-shadow: 0 10px 20px -4px black;
}

.menuButton{
    font-size: 20px;
    color: white;
    margin-left: 4px;
    padding: 2px 9px 3px 9px;
    text-decoration: none;
}
.selectedButton{
    background-color: rgb(36, 36, 36);
}

.menuButton:hover{
    cursor: pointer;
    background-color: rgb(39, 39, 39);
}
.mainDiv{
    top: 184px;
    position: relative;
    max-width: 60em;
    padding: 1% 1% 1% 1%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.freame{
    max-width: 60em;
    width: 100%;
    height: 56.24vw;
    max-height: 33.75em;
    min-height: 15.75em;
    box-shadow: 5px 5px 20px #515151;
    overflow: hidden;
    border: none;
}

.gridDiv{
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 15px;
    padding-bottom: 85px;
    -ms-grid-column-span: 4;
    -ms-grid-columns: 24% 24% 24% 24% 24%;
    -ms-grid-gap: 15px;
    
}
a{
    text-decoration: none;
}
gridElem{
    text-align: center;
    padding: 25% 0 25% 0;

}
.gridImg{
    width: 100%;
    text-align: center;
     
    opacity: 0.9;
    box-shadow: 5px 5px 30px #919191;
    position: relative;
    z-index: 10;
}
.gridImg:hover{
    opacity: 1;
    box-shadow: 5px 5px 20px #7a7a7a;
}

.textImg{
    background-color: rgba(0, 0, 0, 0.4);
    color: #e4e4e4;
    padding: 1%;
    margin: -40% 0 0 0;
    font-size: 110%;
    
    z-index: 11;
    position: relative;
    transition: background-color .5s ease-in-out;
}
.textImg:hover{
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.diveider{
    width: 90%;
    height: 2px;
    margin: 5px 5px 5px 5px;
    background-color: rgb(54, 54, 54);
    border-radius: 8px;
}

.thumbnails{
     width: 100%;
     margin: 5px;
     border-radius: 8px;
     background-color: #7a7a7a;
     border: 1.5px solid #7a7a7a;

 }
.thumbnails:hover{
    border-radius: 0px;
    border: 1px solid #5b5b5b;
    cursor: zoom-in;

}

.loeadingImg{
    bottom: 10px;
}

.imgBack{
    z-index: 30;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    display: none;

}
.zoomImg{
    z-index: 31;
    position: fixed;
    max-width: 98%;
    max-height: 98%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    animation: imgOpen 0.8s forwards ease-out;
}
@keyframes imgOpen {
    0%   {
        max-width: 30%;
        opacity: 0;
    }
    70%{
        opacity: 1;
    }
    100% {
        max-width: 95%;
    }

}
.arrow{
    position: absolute;
    width: 6%;
    top:48%;
    background-color: rgba(219, 219, 219, 0.2);
    border-radius: 50%;
    z-index: 32;
}
.arrow:hover{
    background-color: rgba(219, 219, 219, 0.5);
    cursor: pointer;
}

.left{
    left:1%;
}
.right{
    right: 1%;
}
.close{
    right: 1%;
    top: 1%;
}

@media screen and (orientation: portrait) {
    .gridDiv{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 16vw;
        padding-bottom: 16vw;
    }
}

@media only screen and (max-width: 983px) {
    .manuDiv{
        width: 98%;
    }
}

html, body {
    width: 100%;
    min-width: 28em;
    height: 100%;
    margin: 0;
}